<div class="col-10 offset-1 about">
  <h1>About Old Macdonald</h1>

  <p>Old Macdonald had a farm, but never knew what animals he had on his farm, without the help of his visitors.
  </p>

  <div class="row">
    
    <div class="col-12 col-sm-4">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/_6HzoUcx3eo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</div>

<br class="clear">
<br />
<br />
<br />
<br />